In [12]:
import pandas as pd

In [10]:
df_taxi=pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet")

In [13]:
df_lookup=pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv")

In [4]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://postgres:postgres@localhost:5433/ny_taxi"
)

In [12]:
df_taxi.to_sql(
    name="green_taxi_data",
    con=engine,
    schema="public",
    if_exists="append",   # or "replace" if you want to overwrite
    index=False,
    method="multi",       # much faster
    chunksize=10_000
)

46912

In [15]:
df_lookup.to_sql(
    name="lookup_data",
    con=engine,
    schema="public",
    if_exists="append",   # or "replace" if you want to overwrite
    index=False,
    method="multi",       # much faster
    chunksize=10_000
)

265